In [3]:
import numpy as np
import matplotlib.pylab as plt
import scipy.stats as st
import seaborn as sns
import pandas as pd

In [4]:
# бутстрап
from arch.bootstrap import IIDBootstrap

# критерий знаков
from statsmodels.stats.descriptivestats import sign_test

# перестановочный критерий
from permute.core import one_sample

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/Intelligent-Systems-Phystech/psad-2020/master/homework_data/sem_3/a.csv"  , header = None)

In [6]:
data.head()

          0
0 -1.767533
1 -2.851359
2 -1.638550
3 -1.959381
4 -2.460488

In [7]:
data.describe()

               0
count  12.000000
mean   -0.170759
std     2.113832
min    -2.851359
25%    -2.051852
50%    -0.013184
75%     1.749061
max     2.102151

In [8]:
dt = data.values

In [9]:
dt = dt.flatten()

In [10]:
st.wilcoxon(dt)

WilcoxonResult(statistic=30.0, pvalue=0.480176889906077)

In [11]:
sign_test(dt)

(0.0, 1.0)

In [10]:
one_sample(dt)

(0.6131838681613183, -0.17075949876837884)

In [11]:
sum(dt)

-2.049113985220546

In [12]:
sum(dt-0.5)

-8.049113985220547

# кол-во перестановок

In [13]:
2**len(dt)

4096

In [15]:
s = 1
for i in range (len(dt)):
    s *= i+1

In [16]:
s

479001600

In [17]:
one = one_sample(dt-0.5)

In [18]:
one[0]*s

409460843.11956877

In [35]:
4096 - (one[0])* (2**len(dt))

586.6642133578666

In [12]:
data = dt

In [14]:
import itertools

За этот кусок огромное спасибо Наташе)

In [16]:
count = 0
good = 0
T = data - 0.5
t = np.sum(T)
for v in itertools.product([-1, 1], repeat=12):
    count += 1
    stat = np.dot(T, v)
    if stat <= t:
        good += 1
          
good

590

In [17]:
from arch.bootstrap import IIDBootstrap
bs = IIDBootstrap(dt)
bs.conf_int(np.mean, 100000, method='basic')

array([[-1.2632756 ],
       [ 0.96576972]])